// Fonts
$main-text-font: 'Ubuntu', 'Arial', sans-serif;
$main-title-font: 'Open Sans', 'Arial', sans-serif;
$main-font-sise: 14px;

// Colors
$main-accent-color: #fdae26;
$secondary-accent-color: #824fe3;
$main-bg-color: #222;
$section-bg-color: #fafafa;
$after-footer-bg-color: #151515;
$main-text-color-light: #fff;
$main-text-color-dark: #444;
$title-text-color-dark: #222;
